:root {
  scroll-behavior: smooth;
  --mainColor:#FF9800;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: fixed;
  z-index: 10000;
  transform: translateX(calc(-100% + 30px));
  height: 100%;
  transition-duration: 0.3s;
}
.navbar nav {
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.navbar nav .colors .colors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.navbar nav .colors .colors-container span {
  padding: 2px;
  width: 20;
  height: 20;
  border-radius: 50%;
  cursor: pointer;
}
.navbar nav .colors .colors-container span.selected {
  border: 2px solid white;
  box-sizing: content-box;
}
.navbar nav .colors .colors-container span:nth-of-type(1) {
  background-color: #FF9800;
}
.navbar nav .colors .colors-container span:nth-of-type(2) {
  background-color: red;
}
.navbar nav .colors .colors-container span:nth-of-type(3) {
  background-color: darkgreen;
}
.navbar nav .colors .colors-container span:nth-of-type(4) {
  background-color: lightskyblue;
}
.navbar nav .colors .colors-container span:nth-of-type(5) {
  background-color: green;
}
.navbar nav .colors .colors-container span.selected {
  border: 3px solid white;
}
.navbar nav > div {
  width: 100%;
  background-color: rgba(221, 221, 221, 0.432);
  text-align: center;
  padding: 10px;
}
.navbar nav > div h4 {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 10px;
  color: rgb(102, 102, 102);
}
.navbar nav .buttons button {
  cursor: pointer;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: var(--mainColor);
  opacity: 0.5;
  color: white;
}
.navbar nav .buttons button.selected {
  opacity: 1;
}
.navbar nav .reset {
  width: 100%;
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.navbar #gear {
  padding: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: white;
  transform: translateY(100px);
  cursor: pointer;
}
.navbar #gear i {
  font-size: 14px;
  -webkit-animation-name: navbar;
          animation-name: navbar;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes navbar {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes navbar {
  100% {
    transform: rotate(360deg);
  }
}
.bullets {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  z-index: 999;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.bullets .bullet {
  height: 39px;
  display: flex;
  direction: rtl;
  align-items: center;
  gap: 20px;
}
.bullets .bullet .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid var(--mainColor);
}
.bullets .bullet .circle:hover + .where-to {
  display: block;
}
.bullets .bullet .where-to {
  color: white;
  display: none;
  background-color: var(--mainColor);
  padding: 10px 15px;
  position: relative;
}
.bullets .bullet .where-to::after {
  content: "";
  -webkit-clip-path: polygon(50% 50%, 0 0, 0 100%);
  clip-path: polygon(50% 50%, 0 0, 0 100%);
  background-color: var(--mainColor);
  height: 50%;
  width: 25px;
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  margin: 0px auto;
  padding: 0px 20px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.introduction {
  color: white;
  height: 100vh;
  background-image: url(../imgs/01.jpg);
  position: relative;
  z-index: 998;
  background-position: center;
  background-size: cover;
}
.introduction .overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}

.introduction .container {
  position: relative;
  height: 100%;
}
.introduction .container header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}
.introduction .container header .links {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}
.introduction .container header .links a {
  font-size: 17px;
  margin: 0px 10px;
  color: white;
  text-decoration: none;
}
.introduction .container header .links a:hover {
  color: var(--mainColor);
  transition-duration: 0.3s;
}
.introduction .container header .links i {
  display: none;
  cursor: pointer;
}
.introduction .container header p {
  font-weight: bold;
  font-size: 17px;
}
@media (max-width: 991px) {
  .introduction .container header .links a {
    display: none;
  }
  .introduction .container header .links i {
    display: block;
    font-size: 30px;
  }
}
.introduction .container header .pop-links {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  z-index: 999;
}
.introduction .container header .pop-links::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  top: -19px;
  right: 24px;
  -webkit-clip-path: polygon(50% 20%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 20%, 0% 100%, 100% 100%);
}
.introduction .container header .pop-links a {
  display: block;
  color: var(--mainColor);
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  margin: 15px;
}
.introduction .container .intro-text {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.introduction .container .intro-text span {
  color: var(--mainColor);
}
.introduction .container .intro-text p {
  font-size: 20px;
  line-height: 2;
}
@media (max-width: 778px) {
  .introduction .container .intro-text h1 {
    font-size: 25px;
  }
  .introduction .container .intro-text p {
    font-size: 18px;
    max-width: 90%;
    margin: 0 auto;
  }
}

.about {
  padding: 50px 0;
}
.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .container .about-text-content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.about .container .about-text-content h1 {
  color: var(--mainColor);
  margin: 10px 0;
}
.about .container .about-text-content p {
  color: gray;
  max-width: 550px;
  line-height: 2;
  font-size: 17px;
}
.about .container img {
  width: 250px;
}

@media (max-width: 778px) {
  .about .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.skills {
  padding: 50px 0px;
  background-color: #eee;
}
.skills .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills .container h1 {
  color: var(--mainColor);
}
.skills .container .programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.skills .container .programs .program {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  margin: 10px 0;
}
.skills .container .programs .program .empty-progress {
  height: 30px;
  border-radius: 5px;
  background-color: #eee;
  flex: 1;
  position: relative;
}
.skills .container .programs .program .empty-progress .real-progress {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  background-color: var(--mainColor);
  transition-duration: 1s;
}
.skills .container .programs .program h3 {
  text-align: center;
  width: 12%;
  margin: 0;
  font-size: 17px;
}

@media (max-width: 778px) {
  .skills .container .programs .program {
    flex-direction: column;
  }
  .skills .container .programs .program .empty-progress {
    width: 100%;
    flex: none;
  }
}
.gallery {
  padding: 50px 0;
}
.gallery .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .container h1 {
  color: var(--mainColor);
  margin: 0;
  margin-bottom: 50px;
}
.gallery .container .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  gap: 10px;
}
.gallery .container .photos .photo-container {
  background-color: #eee;
  padding: 5px;
  border: 1px solid #ddd;
}
.gallery .container .photos .photo-container .photo {
  width: 100%;
  transition-duration: 0.3s;
}
.gallery .container .photos .photo-container .photo:hover {
  cursor: pointer;
}

#overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 1000;
}

.popup-container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  min-width: 250px;
}
.popup-container .image-title {
  color: var(--mainColor);
  margin-top: 0;
}
.popup-container .scaled-image {
  width: 100%;
}
.popup-container #close-popup {
  background-color: var(--mainColor);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  border: navajowhite;
  font-size: 20px;
  transform: translate(35%, -35%);
  cursor: pointer;
}

.features {
  padding: 50px 0;
}
.features h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 100px;
  color: var(--mainColor);
}
.features .departments {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.features .departments .department {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.features .departments .department:hover img {
  scale: 1.25;
  -webkit-animation-name: logoRotate;
          animation-name: logoRotate;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.features .departments .department img {
  width: 25%;
  transition-duration: 0.5s;
}
.features .departments .department p {
  color: gray;
  line-height: 2;
  font-size: 16px;
  max-width: 80%;
}
.features .departments .department h2 {
  position: relative;
}
.features .departments .department h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  background-color: var(--mainColor);
  height: 4px;
  width: 40px;
}

@-webkit-keyframes logoRotate {
  30% {
    transform: rotate(45deg);
  }
  60% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes logoRotate {
  30% {
    transform: rotate(45deg);
  }
  60% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
.testimonials {
  padding: 50px 0;
  background-image: linear-gradient(to right, var(--mainColor) 50%, black 50%);
}
.testimonials h1 {
  margin-bottom: 50px;
  color: white;
}
.testimonials .comments {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.testimonials .comments .comment {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}
.testimonials .comments .comment p {
  line-height: 1.5;
  color: gray;
  margin: 0;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 15px;
}
.testimonials .comments .comment h4 {
  margin-bottom: 10px;
}
.testimonials .comments .comment div {
  color: gray;
}

@media (max-width: 991px) {
  .testimonials .comments .comment h4, .testimonials .comments .comment div {
    text-align: center;
  }
}
@media (max-width: 778px) {
  .testimonials .comments {
    flex-direction: column;
    align-items: center;
  }
}
.contact {
  padding: 50px 0px 100px;
  background-image: url(../imgs/contact.png);
  background-size: cover;
  background-position: center;
  box-shadow: inset 100000px 0 0 0 rgba(255, 255, 255, 0.3294117647);
}
.contact h1 {
  text-align: center;
  color: var(--mainColor);
  margin-bottom: 50px;
}
.contact form {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.contact form input {
  height: 40px;
  width: 400px;
  padding: 10px;
  background-color: rgba(221, 221, 221, 0.3);
  border: 1px solid #ddd;
  transition-duration: 0.3s;
  position: relative;
  outline: 1px solid #ddd;
}
.contact form input:focus {
  border-right: 1px solid var(--mainColor);
  border-bottom: 1px solid var(--mainColor);
}
.contact form input:focus::-moz-placeholder {
  visibility: hidden;
  transition-timing-function: ease;
}
.contact form input:focus:-ms-input-placeholder {
  visibility: hidden;
  transition-timing-function: ease;
}
.contact form input:focus::placeholder {
  visibility: hidden;
  transition-timing-function: ease;
}
.contact form .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact form .message-submit {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact form .message-submit textarea {
  padding: 10px;
  background-color: rgba(221, 221, 221, 0.3);
  border: 1px solid #ddd;
  outline: 1px solid #ddd;
  transition-duration: 0.5s;
  flex: 1;
  width: 100%;
}
.contact form .message-submit textarea:focus {
  border-left: 1px solid var(--mainColor);
  border-bottom: 1px solid var(--mainColor);
}
.contact form .message-submit textarea:focus::-moz-placeholder {
  visibility: hidden;
  transition-timing-function: ease;
}
.contact form .message-submit textarea:focus:-ms-input-placeholder {
  visibility: hidden;
  transition-timing-function: ease;
}
.contact form .message-submit textarea:focus::placeholder {
  visibility: hidden;
  transition-timing-function: ease;
}
.contact form .message-submit input[type=submit] {
  background-color: var(--mainColor);
  color: white;
  cursor: pointer;
}

@media (max-width: 991px) {
  .contact .info input {
    width: 300px;
  }
}
@media (max-width: 776px) {
  .contact .info input {
    width: 100%;
  }
  .contact form {
    flex-direction: column;
  }
  .contact form input {
    width: 100%;
  }
}
.timeline {
  padding: 50px 0;
  background-color: #ddd;
}
.timeline .container {
  position: relative;
}
.timeline .container::after {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--mainColor);
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
}
.timeline .container .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.timeline .container .date .date-num {
  background-color: var(--mainColor);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.timeline .container .date .line {
  z-index: 990;
  display: flex;
  align-items: flex-start;
  margin: 30px 0;
  gap: 10px;
}
.timeline .container .date .line .text-content {
  max-width: 520px;
}
@media (max-width: 1200px) {
  .timeline .container .date .line .text-content {
    max-width: 450px;
  }
}
@media (max-width: 992px) {
  .timeline .container .date .line .text-content {
    max-width: 300px;
  }
}
@media (max-width: 776px) {
  .timeline .container .date .line {
    width: 100%;
  }
  .timeline .container .date .line .text-content {
    max-width: none;
  }
}
.timeline .container .date .left {
  transform: translateX(-50%);
}
.timeline .container .date .left .dot {
  width: 20px;
  height: 20px;
  background-color: white;
  order: 2;
  border-radius: 50%;
  border: 3px solid var(--mainColor);
  transform-origin: top center;
  transform: translate(50%, 20px);
}
.timeline .container .date .left .text-content {
  position: relative;
  padding: 20px;
  background-color: white;
}
.timeline .container .date .left .text-content::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: -20px;
  top: 20;
  background-color: white;
  -webkit-clip-path: polygon(50% 50%, 0 0, 0 100%);
          clip-path: polygon(50% 50%, 0 0, 0 100%);
}
.timeline .container .date .left .text-content h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--mainColor);
}
.timeline .container .date .left .text-content p {
  margin: 0;
  line-height: 1.8;
  color: gray;
}
.timeline .container .date .right {
  transform: translateX(50%);
}
.timeline .container .date .right .dot {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid var(--mainColor);
  transform-origin: top center;
  transform: translate(-50%, 20px);
}
.timeline .container .date .right .text-content {
  order: 2;
  padding: 20px;
  background-color: white;
}
.timeline .container .date .right .text-content::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 11px;
  top: 20;
  background-color: white;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 47% 50%);
          clip-path: polygon(100% 0, 100% 100%, 47% 50%);
}
.timeline .container .date .right .text-content h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--mainColor);
}
.timeline .container .date .right .text-content p {
  margin: 0;
  line-height: 1.8;
  color: gray;
}

@media (max-width: 776px) {
  .timeline .container .date .right {
    transform: none;
    text-align: center;
  }
  .timeline .container .date .right .text-content::after {
    display: none;
  }
  .timeline .container .date .right .dot {
    display: none;
  }
  .timeline .container .date .left {
    transform: none;
    text-align: center;
  }
  .timeline .container .date .left .text-content::after {
    display: none;
  }
  .timeline .container .date .left .dot {
    display: none;
  }
}
footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px 0;
}/*# sourceMappingURL=js.css.map */